<div class="jumbotron">
  <div class="container">
    <div class="row">
      <app-list [listData]="charactersList" [headers]="charactersHeaders" [actions]="true"></app-list>
    </div>
    <div class="row">
      <ul class="pagination">
        <li class="page-item"><a class="pointer page-link" (click)="setPage(page - 1)">Previous</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(1)">1</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(2)">2</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(3)">3</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(4)">4</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(5)">5</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(6)">6</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(7)">7</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(8)">8</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(9)">9</a></li>
        <li class="page-item"><a class="pointer page-link" (click)="setPage(page + 1)">Next</a></li>
      </ul>
    </div>
  </div>
</div>