<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item">Name: {{starship.name}}</li>
          <li class="list-group-item">Model: {{starship.model}}</li>
          <li class="list-group-item">Manufacturer: {{starship.manufacturer}}</li>
          <li class="list-group-item">Cost_in_credits: {{starship.cost_in_credits}}</li>
          <li class="list-group-item">Manufacturer: {{starship.manufacturer}}</li>
          <li class="list-group-item">Pilots:<a href="">{{starship.pilots}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
