<div class="jumbotron">
    <div class="container">
      <div class="row">
        <app-list [listData]="starshipList" [headers]="starshipHeaders" [actions]="true"></app-list>
      </div>
      <div class="row">
        <ul class="pagination">
          <li class="page-item"><a class="pointer page-link" (click)="setPage(page - 1)">Previous</a></li>
          <li class="page-item"><a class="pointer page-link" (click)="setPage(1)">1</a></li>
          <li class="page-item"><a class="pointer page-link" (click)="setPage(2)">2</a></li>
          <li class="page-item"><a class="pointer page-link" (click)="setPage(3)">3</a></li>
          <li class="page-item"><a class="pointer page-link" (click)="setPage(4)">4</a></li>
          <li class="page-item"><a class="pointer page-link" (click)="setPage(page + 1)">Next</a></li>
        </ul>
      </div>
    </div>
  </div>