<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item">Name: {{character.name}}</li>
          <li class="list-group-item">Gender: {{character.gender}}</li>
          <li class="list-group-item">Eyes color: {{character.eye_color}}</li>
          <li class="list-group-item">Hair color: {{character.hair_color}}</li>
          <li class="list-group-item">Height {{character.height}}</li>
          <li class="list-group-item">Mass {{character.mass}}</li>
          <li class="list-group-item">Skin color: {{character.skin_color}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>