<div class="jumbotron">
  <div class="fade"></div>
  <section class="star-wars">
    <div class="crawl">
      <div class="title">
        <p>Episode VI</p>
        <h1>RETURN OF THE JEDI</h1>
        <h4>My Favorite :)</h4>
      </div>

      <p>Luke Skywalker has returned to his home planet of Tatooine in an attempt to rescue 
        his friend Han Solo from the clutches of the vile gangster Jabba the Hutt.</p>

      <p>Little does Luke know that the GALACTIC EMPIRE has secretly begun construction on 
        a new armored space station even more powerful than the first dreaded Death Star.</p>

      <p>When completed, this ultimate weapon will spell certain doom 
        for the small band of rebels struggling to restore freedom to the galaxy...</p>

    </div>
  </section>
</div>