
    <div class="jumbotron">
        <h1>Hi Fellows,</h1>
        <p>My Name is Fabiano G. Lomonaco Júnior and I graduated in Universidade do Vale do Sapucaí - UNIVAS.</p>
        <p>Do you like game? If the answer is YES, click in the link below to play my game.</p>
        <p><a href="https://lomonaco91.github.io/JSGame_DontKillYoshi/">Don't kill the baby Yoshi!</a></p>
        <p>If you answer is NO, and you like to read smart things, access my GitHub
            and read my source code about it Graph database + JAVA + JSF + PRIMEFACES that I used in final
            college work at link
            <a href="https://github.com/oluizeduardo/jsf-project-manager">TCC</a>.</p>
        <h5>Thanks! And may the force be with us!</h5>
    </div>


