<div class="col-12">
  <div class="form-group">
    <label for="search_name">Search</label>
    <input [(ngModel)]="query" type="text" class="form-control" id="search_name" placeholder="Type a name or id here!">
  </div>
</div>
<div class="col-12">
  <table class="table">
    <thead>
      <tr>
        <th *ngFor="let header of headers" (click)="sortData(header)">{{header}}</th>
        <th *ngIf="actions">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listData | search:'id,name':query">
        <td *ngFor="let key of headers">{{data[key]}}</td>
        <td *ngIf="actions">
          <a [routerLink]="'./' + data.id">Details</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
